<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <!-- <th>Password digest</th> # [17] Remove this since we don't need a column to show passwords -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <!-- <td><%#= user.password_digest %></td> # [18] Remove this line because we don't want to show passwords --> 
    <!-- [19] Now lets head to: your_app_name/app/views/model_name/show.html.erb -->
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
